:root {
  --heading: #b9b9b9;
  --subheading: #b9b9b9;
  --description: #8d8c8c;
}

.cont {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.h1 {
  font-size: 56px;
  font-weight: 900;
  color: var(--heading);
}

.h2 {
  font-family: "Telma", cursive;
  color: var(--subheading);
}

.h3 {
  color: var(--heading);
}

.subHeading {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
  margin-bottom: 20px;
  margin-left: 77px;
}

.name_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 60px;
  line-height: 40px;
}

.image_section > img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .name_section {
    font-size: 62px;
    /* background-color: rgb(92, 92, 92); */
    line-height: 170px;
  }

  .h1 {
    font-size: 288px;
    font-weight: 900;
    color: var(--heading);
  }

  .h2 {
    /* font-family: "Telma", cursive; */
    color: var(--subheading);
  }

  .h3 {
    color: var(--heading);
  }

  .subHeading {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
  }
}
