:root {
  --heading: #b9b9b9;
  --subheading: #b9b9b9;
  --description: #8d8c8c;
}

.cont {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.h1 {
  font-size: 56px;
  font-weight: 900;
  color: var(--heading);
}

.h2 {
  font-family: "Telma", cursive;
  color: var(--subheading);
}

.h3 {
  color: var(--heading);
  font-size: 28px;
}

.subHeading {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
  margin-bottom: 20px;
}

.name_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
}

@media screen and (min-width: 768px) {
  .cont {
    text-align: center;
    max-width: 1024px;
    margin: auto;
  }
  .name_section {
    padding-top: 120px;
    margin: auto;
  }

  .h1 {
    font-size: 130px;
    color: var(--heading);
  }

  .h2 {
    color: var(--subheading);
    font-size: 32px;
  }

  .h3 {
    color: var(--heading);
    font-size: 52px;
  }

  .subHeading {
    gap: 20px;
  }

  .resumeBtn {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .cont {
    max-width: 1400px;
    margin: auto;
  }
  .h1 {
    /* background-color: rgb(233, 252, 255); */
    font-size: 240px;
  }

  .h2,
  .h3 {
    font-size: 80px;
  }

  .subHeading {
    margin-top: 10px;
  }

  .resumeBtn {
    margin-top: 60px;
  }
}
