* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(5, 180px);
    align-items: center;
}

.navbar  img {
    width: 30%;
}

/* a img {
  width: 100%;
} */
