:root {
  --heading: #b9b9b9;
  --subheading: #b9b9b9;
  --description: #8d8c8c;
  --main-heading: "Roxborough";
  --background: #0f0f0f;
}

.quote_section {
  line-height: 34px;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  color: var(--heading);
}

#quote {
  font-size: 32px;
  line-height: 42px;
  font-weight: 900;
}

.about_cont {
  line-height: 30px;
  text-align: left;
}

.about p {
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  font-size: 20px;
  color: var(--subheading);
}

.skillsDiv {
  margin-left: 10px;
  margin-bottom: 10px;
}

.skills {
  color: var(--heading);
  font-family: var(--main-heading);
  font-size: 24px;
  text-transform: uppercase;
}

.otherSection {
  margin-bottom: 40px;
}

.otherHalf p {
  font-size: 16px;
}

.projects {
  margin-bottom: 10px;
}

.btn a {
  background: none;
  color: var(--heading);
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-family: var(--main-heading);
  border-bottom: 1px solid var(--heading);
  padding-bottom: 5px;
}

.btn {
  margin: 40px 0px;
}

/* media  */
@media screen and (min-width: 768px) {
  .about_cont {
    width: 80%;
    margin: auto;
    line-height: 50px;
    text-align: left;
    margin-top: 50px;
  }

  .about p {
    font-weight: 500;
  }

  .skillsDiv {
    font-size: 48px;
    text-transform: uppercase;
    font-family: var();
    width: 340px;
  }

  .quote_section {
    padding: 30px;
    text-align: center;
    margin-top: 30px;
    /* background-color: pink; */
    width: 90%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 100px;
  }

  #quote {
    font-size: 120px;
    line-height: 99px;
    font-weight: 900;
    /* font-family: "Telma", cursive; */
  }

  .otherSection {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
    gap: 150px;
    /* border-bottom: 1px solid #b9b9b933; */
  }

  .projects {
    border-bottom: 1px solid #b9b9b933;
    /* border-top: 1px solid #b9b9b933; */
  }

  .content {
    font-size: 28px;
  }

  .aboutDiv {
    margin-bottom: 30px;
  }

  .btn a {
    background: none;
    color: var(--heading);
    font-family: var();
    height: 50px;
    font-size: 20px;
    width: 200px;
    margin-bottom: 100px;
    transition: all 0.5s;
    cursor: pointer;
    padding: 12px;
  }

  .btn a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .btn a:after {
    content: "⇀";
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }

  .btn a:hover {
    padding-right: 10px;
    padding-left: 8px;
  }

  .btn a:hover:after {
    opacity: 1;
    right: 10px;
  }
}
