:root {
  --heading: #b9b9b9;
  --subheading: #b9b9b9;
  --description: #8d8c8c;
  --main-heading: "Roxborough";
  --background: #0f0f0f;
}

.plaza {
  background: none;
  cursor: pointer;
  font-family: var(--main-heading);
  text-decoration: none;
}

.quote_section {
  line-height: 30px;
  text-align: left;
  margin-top: 30px;
  color: var(--heading);
  border-bottom: 1px solid #b9b9b933;
  border-top: 1px solid #b9b9b933;
}

#quote {
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
  margin: 70px 0px;
}

.about_cont {
  line-height: 30px;
  text-align: left;
  padding-top: 50px;
}

.about p {
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  font-size: 18px;
  color: var(--subheading);
}

.infoContent {
  font-size: 20px;
  color: var(--subheading);
}

.skillsDiv {
  margin-left: 10px;
  margin-bottom: 10px;
}

.skills {
  color: var(--heading);
  font-family: var(--main-heading);
  font-size: 24px;
  text-transform: uppercase;
}
/* 
.about_heading {
  color: var(--heading);
  font-family: var(--main-heading);
  font-size: 24px;
  text-transform: uppercase;
} */
.otherSection {
  margin-bottom: 40px;
  margin-top: 10px;
}

.otherHalf p {
  font-size: 16px;
}

.projects {
  margin-bottom: 10px;
}

.image_section > img {
  height: 100%;
  width: 100%;
  padding: 10px;
}
.resume {
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* media  */
@media screen and (min-width: 768px) {
  .about_cont {
    margin: auto;
    line-height: 50px;
    text-align: left;
    margin-top: 50px;
    max-width: 1024px;
    margin: auto;
  }

  .content {
    font-size: 28px;
  }

  .aboutDiv {
    margin-bottom: 100px;
    display: flex;
    gap: 10px;
    align-items: top;
  }

  .aboutMe {
    width: 100%;
    line-height: 40px;
  }

  .resume {
    padding-left: 10px;
  }

  .image_section {
    flex-shrink: 0;
    width: 40%;
    height: 100%;
  }
  .image_section {
    order: 2;
  }

  .skills {
    font-size: 32px;
    text-transform: uppercase;
    width: 200px;
  }

  .otherSection {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
    gap: 150px;
  }

  .otherHalf p {
    font-size: 20px;
    line-height: 40px;
  }

  .projects {
    border-bottom: 1px solid #b9b9b933;
  }

  .quote_section {
    padding: 10px;
    text-align: center;
    max-width: 1024px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #b9b9b933;
    border-top: 1px solid #b9b9b933;
  }

  #quote {
    /* font-family: var(--main-heading); */
    font-size: 72px;
    line-height: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .about_cont {
    max-width: 1400px;
    margin: auto;
  }
  .image_section {
    flex-shrink: 0;
    order: 2;
  }

  .quote_section {
    text-align: center;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    border-bottom: 1px solid #b9b9b933;
    border-top: 1px solid #b9b9b933;
  }

  #quote {
    /* font-family: var(--main-heading);
    font-size: 64px; */
    font-size: 100px;
    line-height: 100px;
  }

  .skills {
    font-size: 48px;
    text-transform: uppercase;
    width: 400px;
  }

  /* .about_heading {
    font-size: 48px;
    text-transform: uppercase;
    width: 400px;
  } */

  .otherSection {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
    gap: 180px;
  }

  .otherHalf p {
    font-size: 28px;
    line-height: 60px;
  }

  .projects {
    border-bottom: 1px solid #b9b9b933;
  }

  .about_cont {
    text-align: left;
    margin-top: 50px;
  }

  .content {
    font-size: 36px;
  }

  .aboutDiv {
    /* margin-bottom: 100px; */
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .aboutMe {
    width: 100%;
    line-height: 60px;
  }
}
