.navbar {
  display: flex;
  width: 100%;
  min-height: 70px;
  padding-top: 7px;
  justify-content: space-between;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #b9b9b933;
  margin-bottom: 20px;
}

.navLinks a {
  font-size: 20px;
  font-weight: 600;
  color: #b9b9b9;
}

/* .hr {
  color: #b9b9b9;
  height: 2px;
  width: 100%;
} */

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    width: 100%;
    padding-top: 20px;
    justify-content: space-between;
    padding-bottom: 7px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
