.navbar {
  display: flex;
  position: relative;
  z-index: 0;
  font-size: 9px;
  width: 100%;
  padding-top: 7px;
  justify-content: space-between;
  /* background-color: pink; */
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
