.cont {
  width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 400px;
  /* background-color: rebeccapurple; */
}

.name_section {
  text-align: left;
  font-size: 54px;
  line-height: 100px;
}

.image_section > img {
  height: 600px;
  /* width: 300px; */
  /* background-color: royalblue; */
}

.quote_section {
  font-size: 64px;
  /* background-color: powderblue; */
  line-height: 30px;
  padding: 10px;
}

.projects_section {
  display: flex;
  align-items: center;
  /* background-color: sandybrown; */
  gap: 1268px;
}

.projects_section:hover {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  gap: 1200px;
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--8hY3GQ04--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/rq48n957djcp028jlv59.jpg") 0 0 no-repeat fixed;
  /* background-color: rgba(0, 255, 0, 0.842); */
  height: 100%;
  overflow: hidden;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.project_title {
  font-size: 32px;
}

.project_info {
  font-size: 20px;
  text-align: left;
  line-height: 10px;
}
