:root {
  --heading: #b9b9b9;
  --subheading: #b9b9b9;
  --description: #8d8c8c;
  --main-heading: "Roxborough";
  --background: #0f0f0f;
}

.footer {
  border-top: 1px solid #d0d9ce;
  padding: 10px;
  padding: 18px 15px 15px;
  height: 100%;
  margin-top: 70px;
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  justify-content: space-between;
  color: var(--heading);
}

.links a {
  color: var(--description);
  font-size: 16px;
  text-decoration: none;
}

.tags {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: var(--heading);
}

.middle_ft {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: var(--heading);
}

.email a {
  text-decoration: none;
  color: var(--heading);
}

.contactMe {
  text-align: right;
  text-transform: uppercase;
  line-height: 34px;
  margin-top: 50px;
  padding: 50px 10px 10px;
  color: var(--heading);
  text-decoration: none;
}

.contactMe h1 {
  font-size: 10vw;
  line-height: 9.5vw;
}
