:root {
  --heading: #b9b9b9;
  --subheading: #b9b9b9;
  --description: #8d8c8c;
  --main-heading: "Roxborough";
  --background: #0f0f0f;
}

.footer {
  border-top: 1px solid #d0d9ce;
  padding: 10px;
  padding: 18px 15px 15px;
  height: 100%;
  margin-top: 70px;
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  justify-content: space-between;
  color: var(--heading);
}

.links a {
  color: var(--description);
  font-size: 16px;
  text-decoration: none;
}

.tags {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: var(--heading);
}

.middle_ft {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: var(--heading);
}

.email a {
  text-decoration: none;
  color: var(--heading);
  font-size: 16px;
}

.emailAddress a {
  text-decoration: none;
  color: var(--heading);
  font-size: 14px;
}

.contactMe {
  text-align: right;
  line-height: 34px;
  margin-top: 40px;
  padding: 50px 10px 10px;
  color: var(--heading);
  text-decoration: none;
  text-transform: uppercase;
}

.contactMeHeading {
  font-family: var(--main-heading);
  font-size: 40px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contactMe {
    text-align: center;
    line-height: 34px;
    margin-top: 40px;
    color: var(--heading);
  }

  .contactMeHeading {
    font-family: var(--main-heading);
    font-size: 52px;
    margin-bottom: 20px;
  }

  .links a {
    font-size: 20px;
  }

  .middle_ft {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

@media screen and( min-width: 1100px) {
  .footer {
    background-color: aquamarine;
    padding-left: 40px;
    padding-right: 40px;
  }

  .tags {
    font-size: 20px;
    line-height: 25px;
  }

  .middle_ft {
    font-size: 20px;
  }

  .email a {
    font-size: 20px;
  }

  .emailAddress a {
    font-size: 20px;
  }

  .contactMeHeading {
    font-size: 72px;
    margin-bottom: 32px;
    margin-top: 40px;
  }
}
