* {
  font-family: "Satoshi", sans-serif;
  font-family: "Cabinet Grotesk", sans-serif;

  /* font-family: "Roxborough"; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --heading: #b9b9b9;
  --subheading: #b9b9b9;
  --description: #8d8c8c;
  --background: #0f0f0f;
  --main-heading: "Roxborough";
}

body {
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1200px) {
  .main {
    width: 1400px;
    margin: auto;
    /* background-color: rgb(233, 252, 255); */
    /* border: 1px red solid; */
    cursor: default;
  }
}
