.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Satoshi", sans-serif;
  font-family: "Cabinet Grotesk", sans-serif;

  /* font-family: "Roxborough"; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --heading: #b9b9b9;
  --subheading: #b9b9b9;
  --description: #8d8c8c;
  --background: #0f0f0f;
  --main-heading: "Roxborough";
}

body {
  background-color: var(--background);
}

.featured {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 70px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  color: var(--heading);
  font-family: var(--main-heading);
  font-size: 24px;
}

html {
  scroll-behavior: smooth;
}
